body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.uppercase,
.button {
  text-transform: uppercase;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border-radius: 3px;
  border: none;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  color: #000000;

  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  padding-top: 49px;
}
.site-navigation {
  width: 440px;
  display: flex;
  justify-content: space-around;
}

.site-navigation,
.basket-navigation {
  margin: 0;
  padding-top: 82px;
  list-style: none;
}

.site-navigation a,
.basket-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: #fb565a;
}

.presentation {
  position: relative;
}

.presentation-block {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.presentation-item {
  display: none;
  padding: 78px 0 80px 0;
}

.presentation-item:nth-child(1) {
  display: block;
}

.presentation-title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
}

.presentation-body {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;

  color: #283136;
}

.presentation-button {
  background-color: #fb565a;
}

.presentation-button:hover,
.presentation-button:focus {
  background-color: #e74246;
}

.presentation-slider i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.presentation-slider {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.presentation-slider i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.presentation-slider .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.presentation-first {
  background-image: url(../img/slide-approach.png);
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.presentation-second {
  background-image: url(../img/slide-math.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.presentation-third {
  background-image: url(../img/slide-night.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.amenities h3 {
  font-size: 24px;
}

.amenities-item-text {
  color: #283136;
}

.web-sites {
  background-color: #fb565a;
  background-image: url(../img/illustration-monitor.jpg);
  background-repeat: no-repeat;
}

.apps {
  background-color: #00ca74;
  background-image: url(../img/illustration-phones.jpg);
  background-repeat: no-repeat;
}

.presentations {
  background-color: #efc849;
  background-image: url(../img/illustration-schedule.jpg);
  background-repeat: no-repeat;
}

.web-sites-button {
  background-color: #fb565a;
}

.web-sites-button:hover,
.web-sites-button:focus {
  background-color: #e74246;
}

.apps-button {
  background-color: #00ca74;
}

.apps-button:hover,
.apps-button:focus {
  background-color: #00bc6c;
}

.presentations-button {
  background-color: #efc84a;
}

.presentations-button:hover,
.presentations-button:focus {
  background-color: #eab534;
}

.about-us-item-header {
  font-size: 45px;
  line-height: 45px;
}

.about-us-item-body {
  color: #283136;
}

.about-us-item-list {
  list-style: none;
  color: #283136;
}

.table-statistics-header b {
  font-size: 45px;
  line-height: 10px;
}

.table-statistics-body td {
  color: #283136;
}

.partners-list {
  list-style: none;
}

.map-item-header {
  font-size: 18px;
  line-height: 30px;
}

.map-item-address,
.map-item-phone {
  line-height: 18px;
  color: #666666;
}

.map-item-button {
  background-color: #fb565a;
}

.map-item-button:hover,
.map-item-button:focus {
  background-color: #e74246;
}

.social-list {
  list-style: none;
}

.friendly-header {
  font-size: 36px;
  line-height: 36px;
}

.friendly-body {
  color: #444444;
  line-height: 22px;
}

.popup h2 {
  font-size: 45px;
  line-height: 45px;
}

.popup span {
  line-height: 18px;
}

.popup-send-button {
  background-color: #fb565a;
}

.popup-send-button:hover,
.popup-send-button:focus {
  background-color: #e74246;
}

/* catalog.html */

.page-title {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  background-color: #eeeeee;
}

.range-title {
  font-size: 18px;
  line-height: 30px;
}

.range-filters-price span {
  line-height: 22px;
  color: #283136;
}

.grid-filters,
.features-filters {
  border: none;
}

.grid-title {
  font-size: 18px;
  line-height: 30px;
}

.grid-block label {
  line-height: 20px;
  color: #283136;
}

.features-title {
  font-size: 18px;
  line-height: 30px;
}

.show-button {
  background-color: #eeeeee;
}

.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
}

.sort-list {
  list-style: none;
}

.sort-list a {
  color: #ededed;
}

.sort-list a:hover,
.sort-list a:focus {
  color: #a6a6a6;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #eeeeee;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
}

.catalog-item p {
  line-height: 18px;
  color: #666666;
}

.catalog-button {
  background-color: #fb565a;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: #e74246;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: #000000;
}

.pagination-item a {
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

/* Flex Box */
